<div class="page">
    <div class="container">
        <div class="page-header">
            <h1 class="page-title">
                Bingo!
            </h1>

            <p class="page-legend" style="max-width: 300px; margin: 0 auto; margin-top: 1rem;">
                Crie cartelas de bingo sob demanda.
            </p>
        </div>

        <form method="post" style="margin: 0 auto; max-width: 320px; width: 100%; margin-top: 3rem">
            <div class="form-field">
                <label>Promovido por:</label>
                <input name="PromotedBy" id="PromotedBy" required />
            </div>

            <div class="form-field">
                <label>Local:</label>
                <input name="Place" id="Place" required />
            </div>

            <div class="form-field">
                <label>Quantidade:</label>
                <input name="Quantity" id="Quantity" type="number" required />
                <span class="form-field-legend">Informe a quantidade de cartelas a ser gerada.</span>
            </div>

            <div class="form-field">
                <label>Valor:</label>
                <input name="Price" id="Price" type="number" required />
            </div>

            <div class="form-field">
                <label>Premiações:</label>

                <div id="award-container">
                    <div id="award-0">
                        <div style="margin-bottom: .3rem">
                            <label>Data do prêmio:</label>
                            <div class="input-group">
                                <input type="date" name="AwardDate[0].Date" />
                                <input type="time" name="AwardDate[0].Hour" />
                            </div>
                        </div>

                        <div>
                            <label>Prêmio:</label>
                            <input name="AwardDate[0].Name" />
                        </div>
                    </div>
                </div>

                <div style="margin-top: 1rem">
                    <div class="btn light" onclick="addAward()">Adicionar outra premiação</div>
                </div>
            </div>

            <hr />   

            <div class="form-field">
                <button type="submit">Criar</button>
            </div>
        </form>
    </div>
</div>

<script>
    const awardContainer = document.querySelector("#award-container");
    const form = document.querySelector("form");

    const removeAward = (awardId) => {
        document.querySelector('#' + awardId).remove();
    }

    const addAward = () => {
        var id = Math.floor(Math.random() * 100) + "t";
        var newAward = `<div id="award-${id}" data-id="${id}" style="margin-top: .8rem">
                                <div style="margin-bottom: .3rem" data-key="${id}">
                                    <label>Data do prêmio:</label>
                                    <div class="input-group">
                                        <input name="AwardDate[${id}].Date" type="date" />
                                        <input name="AwardDate[${id}].Hour" type="time" />
                                    </div>
                                </div>

                                <div>
                                    <label>Prêmio:</label>
                                    <input name="AwardDate[${id}].Name" />
                                </div>

                                <div style="margin-top: .2rem">
                                    <button type="button" onclick="removeAward('award-${id}')" class="light light-danger">Excluir premiação</button>
                                </div>
                            </div>`

        document.querySelector(`#${awardContainer.children[awardContainer.children.length - 1].id}`).insertAdjacentHTML("afterend",newAward);
    }

    const onFormSubmit = (e) => {
        e.preventDefault();
        console.log("Submit");
        document.querySelector("form input[type=submit]").disabled=true;
        
        const data = {
            PromotedBy: document.querySelector("#PromotedBy").value,
            Address: document.querySelector("#Place").value,
            Price: parseFloat(document.querySelector("#Price").value),
            Quantity: parseFloat(document.querySelector("#Quantity").value),
            Dates: [],
        }

        for (let i = 0; i < awardContainer.children.length; i++)
        {
            const id = awardContainer.children[i].dataset.id;
            const awardDate = document.querySelector(`input[name='AwardDate[${id}].Date']`).value;
            const awardHour = document.querySelector(`input[name='AwardDate[${id}].Hour']`).value;
            const awardName = document.querySelector(`input[name='AwardDate[${id}].Name']`).value;

            data.Dates.push({
                date: awardDate + "T" + awardHour,
                award_description: awardName,
            });
        }

        console.log(data)
        
        fetch("/Bingo/Card", {
            method: 'POST',
            headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        }).then(x => {
            return x.json();
        }).then((data) => { 
            window.location.href = "/" + data
            console.log()
         })

        document.querySelector("form input[type=submit]").disabled=false;
    }

    form.addEventListener("submit", onFormSubmit)
</script>